@model HotelReserSystem.Models.invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="invoice_id" class="control-label"></label>
                <input asp-for="invoice_id" class="form-control" />
                <span asp-validation-for="invoice_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_id" class="control-label"></label>
                <input asp-for="customer_id" class="form-control" />
                <span asp-validation-for="customer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="booking_id" class="control-label"></label>
                <input asp-for="booking_id" class="form-control" />
                <span asp-validation-for="booking_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="days_of_stay" class="control-label"></label>
                <input asp-for="days_of_stay" class="form-control" />
                <span asp-validation-for="days_of_stay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="per_room" class="control-label"></label>
                <input asp-for="per_room" class="form-control" />
                <span asp-validation-for="per_room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="no_of_rooms" class="control-label"></label>
                <input asp-for="no_of_rooms" class="form-control" />
                <span asp-validation-for="no_of_rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_amt" class="control-label"></label>
                <input asp-for="total_amt" class="form-control" />
                <span asp-validation-for="total_amt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_id" class="control-label"></label>
                <input asp-for="room_id" class="form-control" />
                <span asp-validation-for="room_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
